@page "/counter"

<PageTitle>Counter</PageTitle>

@page "/toast/types"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@inject IToastService toastservice

<button class="btn btn-info" @onclick="@(()=> toastservice.ShowInfo("info"))">Info</button>

@*<SfButton @OnClick="ShowOnclick">Show</SfButton>
<SfToast Title="abc" Content="@ToastContent" @ref="Toast"></SfToast>
*@

@code{
    //SfToast Toast;
    //public string ToastContent { get; set; } = "1 2 3";
    //private void ShowOnclick()
    //{
    //    this.Toast.Show();
    //}
}
