<br><br>

@if (Product.Any())
{
    <ItemList Items="@Product">
        <Header>
            <h3 class="">Sự lựa chọn của bạn</h3>
        </Header>
        <RowTemplate Context="tuple">
            <ProductItem product="@tuple.product"
                ButtonClass="btn btn-danger"
                ButtonTitle="Xóa"
                Selected="@(() =>
                Selected.InvokeAsync(tuple.pos))"/>
        </RowTemplate>
        <Footer>
            <div class="row">
               <div class="col"></div>
               <div class="col"><hr /></div>
               <div class="col"> </div>
               <div class="col"> </div>
           </div>
           <div class="row">
               <div class="col"> Total: </div>
               <div class="col text-right font-weight-bold">
                   @($"{TotalPrice:0.00}")
               </div>
               <div class="col"> </div>
               <div class="col"> </div>
               <div class="col"> </div>
            </div>
        </Footer>
    </ItemList>
}
@code {

}
